

// fonts
$font-family-default = monospace ,Georgia,Cambria,"Times New Roman",Times,serif
$font-size-default = 16px

// Colors

$blue = #5677fc
$darkblue = #3f51b5
$cyan = #00bcd4
$red = #e51c23

$color-text = rgba(0, 0, 0, 0.8)
$color-hover = rgba(0,0,0,0.05)
$color-link = $blue
$color-link-hover = $darkblue

// Headers
$h1-font-size = $font-size-default * 3
$h2-font-size = $font-size-default * 2


// Borders
$border-default = 1px solid rgba(0,0,0,0.15)
$border-thick = 2px solid rgba(0,0,0,0.15)



// Paddings
$padding-normal = 1em
$padding-tiny = 0.5em
$margin-normal = 1em


// Widths
$width-default = 1000px



